/* ADD TAILWIND RULES */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* DARK MODE SETTINGS */

html {
  background: #000;
}

/* ADD FONT IMPORTS AFTER ADDING FONT WOFFS */

@font-face {
  font-family: "NeueMontreal";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("/fonts/NeueMontreal-Light.otf") format("woff");
}

@font-face {
  font-family: "NeueMontreal";
  font-style: medium;
  font-weight: 500;
  src: local(""), url("/fonts/NeueMontreal-Medium.otf") format("woff");
}

@font-face {
  font-family: "NeueMontreal";
  font-style: bold;
  font-weight: 600;
  src: local(""), url("/fonts/NeueMontreal-Bold.otf") format("woff");
}
